<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <button ([click])="changeList()">change</button>
  list: {{list}}
  <div id="cargo">
    <p><i>Cargo: {{cargo}}</i></p>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand">Buscar por titulo</a>
                <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" (click)="changeList()">Search</button>
                </form>
            </div>
        </nav>
    </div>
  </nav>
  <div *ngIf="list === 'true'">
    <div class="bg-dark p-4">
        <div id="experimental">
            <button class="experimentalB"><b>Publicar manga</b></button>
            <button class="experimentalB"><b>Crear usuario</b></button>
            <button class="experimentalB"><b>Registrarse</b></button>
            <button class="experimentalB"><b>Mangas</b></button>
        </div>
    </div>
  </div><br>

  <div id="cardP">
    <p id="title"><b><i>Titulo</i></b></p>
    <div id="pres">
        <div  id="leter"><b>Precio:<br>$</b></div>
        <img id="ima" src="https://wallpaperbat.com/img/46380-anime-hd-wallpaper-and-background-image.jpg" alt="">
    </div>
    <div  id="leter2"><b>Disponibles: #</b></div><br>
    
    <ion-col id="description">
        <ion-row id="desc">
          <div><b>Descripción:</b></div>
          <div id="detalle_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui esse quas neque debitis repudiandae unde earum, mollitia commodi consequatur at deserunt eveniet eum, laborum, amet distinctio et laudantium obcaecati iusto!</div>
        </ion-row>
        <ion-row>
            <button id="buttonC">Alquilar</button>
        </ion-row>
    </ion-col>
</div><br>

<div id="espacio_registro">
    <form class="row g-3" id="form_registro">
        <p id="titulo_registro"><b><i>Formulario de registro</i></b></p>
        <div class="form-floating mb-6">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-6">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div>
          <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
        </div>
    </form>
</div>

<div id="espacio_publicarManga">
    <div id="titulo_publicarManga">
        <p>Formulario para publicar mangas</p>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col" id="campos1">
                <div class="mb-3">
                    <div class="form-floating" id="campo_publicarManga">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        <label for="exampleFormControlInput1">Titulo del manga</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating" id="campo_publicarManga">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <label for="exampleFormControlTextarea1">Descripción</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating" id="campo_publicarManga">
                        <input type="number" class="form-control" id="exampleFormControlInput2" placeholder="colocar solo numeros">
                        <label for="exampleFormControlInput2">Cantidad disponible</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating" id="campo_publicarManga">
                        <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="Precio manga">
                        <label for="exampleFormControlInput3">Precio manga</label>
                    </div>
                </div>                    
            </div>
            <div class="col">
                <div class="mb-3">
                    <div id="titulo_publicarManga">
                        <p>Imagen del manga</p>
                    </div>
                    <input class="form-control" type="file" id="formFile" onchange="previewImage(event)">
                </div>
                <div class="mb-3">
                    <img id="imagePreview" src="#" alt="Image Preview" style="border-radius: 10px; max-width: 100%; height: 300px; display: none;">
                </div>
            </div>                
        </div>
    </div>
    <div id="cajaButton_publicarManga">
        <button type="submit" class="btn btn-primary" id="button_publicarManga">Public</button>
    </div>
</div>

<div id="espacio_crearUsuario" class="container mt-5">
    <form id="formulario_crearUsuario" class="bg-light p-5 rounded">
        <div id="titulo_crearUsuario" class="mb-4 text-center">
            <h3>Formulario para Crear Usuario</h3>
        </div>
        <div class="grupo-inputs mb-4">
            <div class="row g-3 align-items-center">
                <div class="col-md-4">
                    <label for="nombreInput" class="col-form-label">Nombre</label>
                </div>
                <div class="col-md-auto">
                    <input type="text" id="nombreInput" class="form-control" placeholder="Ingrese su nombre">
                </div>
                <div class="col-md-4">
                    <label for="apellidoInput" class="col-form-label">Apellido</label>
                </div>
                <div class="col-md-auto">
                    <input type="text" id="apellidoInput" class="form-control" placeholder="Ingrese su apellido">
                </div>
            </div>
        </div>    
        <div class="grupo-inputs mb-4">
            <div class="row g-3 align-items-center">
                <div class="col-md-4">
                    <label for="emailInput" class="col-form-label">Email</label>
                </div>
                <div class="col-md-auto">
                    <input type="email" id="emailInput" class="form-control" placeholder="name@example.com">
                </div>
                <div class="col-md-4">
                    <label for="celularInput" class="col-form-label">Celular</label>
                </div>
                <div class="col-md-auto">
                    <input type="text" id="celularInput" class="form-control" placeholder="Ingrese su celular">
                </div>
            </div>
        </div>
        <div class="grupo-inputs mb-4">
            <div class="row g-3 align-items-center">
                <div class="col-md-4">
                    <label for="usernameInput" class="col-form-label">Username</label>
                </div>
                <div class="col-md-auto">
                    <input type="text" id="usernameInput" class="form-control" placeholder="Elija un username">
                </div>
                <div class="col-md-4">
                    <label for="passwordInput" class="col-form-label">Password</label>
                </div>
                <div class="col-md-auto">
                    <input type="password" id="passwordInput" class="form-control" placeholder="Elija una contraseña">
                </div>
            </div>
        </div>

        <!-- Botón de envío -->
        <div id="crearUsuario_button" class="text-center">
            <button type="submit" class="btn btn-primary">Crear Usuario</button>
        </div>
    </form>
</div>


<!-- Bootstrap JS y Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

<!-- script para mostrar la imagen -->
<script>
    function previewImage(event) {
    var reader = new FileReader(); // Crea un nuevo objeto FileReader

    reader.onload = function() {
        var imagePreview = document.getElementById('imagePreview'); // Obtiene el elemento de la imagen previa
        imagePreview.src = reader.result; // Establece la imagen previa con el archivo seleccionado
        imagePreview.style.display = 'block'; // Muestra la imagen previa
    }

    // Lee el archivo seleccionado como URL de datos
    reader.readAsDataURL(event.target.files[0]);
    }
</script>
</ion-content>
